nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px
}

/* .showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    transform: translateX(0);
    transition: transform 0.2s;
    top: 0px;
    right: 0;
    background: gray;
    color: Black;
    list-style: none;
    padding: 15px;
    padding-top: 80px;
    z-index:auto;
    box-shadow: 0 0 5px black;
} */

/* .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 0px;
    right: 0;
    background: gray;
    color: black;
    list-style: none;
    padding: 15px;
    padding-top: 80px;
    z-index: 5;
} */

.hamburger button {
    margin: auto 20px auto 0;
    padding-right: 10px;
    padding: 20px;
    border: none;
    font-size: 30px;
    background: gray;
    cursor: pointer;
    z-index: 6;
    color: black;
    position: fixed;
}

.nav-links {
    padding-right: 20px;
    padding: 10px
}

i {
    padding: 25px;
    padding-right: 45px;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    flex-direction: row;
    width: 100%;
}

.homepage {
    padding-left: 15px;
    text-decoration: none;
}

.homepage a {
    text-decoration: none;  
}

.ham-button {
    z-index: 5;
}

.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index:auto;
    transform: translateX(0);
    transition: transform 0.2s;
    box-shadow: 0 0 5px black;
    background: gray;
    position: fixed;
    top: 80px;
    right: 0px;
    position: fixed;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.2s;
    box-shadow: 0 0 5px black;
    background: gray;
    position: fixed;
    top: 80px;
    right: 0;
}

