@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Shrikhand&display=swap');
nav {
    list-style-type: none;
    text-decoration: none;
    border-bottom: 1px black solid;
}

.nav {
    display: flex;
    font-size: small;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Shrikhand', cursive;
    background: linear-gradient(180deg, #4A5597 0% 80%);
    height: 10vh;
    width: 100%;
    align-items: center;
    text-decoration: none;
    margin-right: 3vw;
}

.nav a {
    list-style-type: none;
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
    text-decoration: none;
}

.nav-groups {
    margin-right: 9vw;
}

.nav-link {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.homepage {
    text-decoration: none;
    margin-top: .5vh;
    color: white;
}

#link a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#get-started {
    background-color: #E989BB;
    border-radius: 25px;
    padding: 5px;
    color: black;
}

@media only screen 
and (min-width : 1224px) {

    .nav {
        display: flex;
        justify-content: space-between;
        font-size: medium;
        
    }

    .homepage {
        margin-left: 3vw;
    }
    .nav-groups {
        margin-top: 1.5vh;
        margin-left: 10vw;
    }

}