@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 100%;
    border-bottom: 1px solid black;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #4B5C77;
    flex-direction: row;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.auth-nav a {
    text-decoration: none;
    color: black;
}

.nav-auth a {
    text-decoration: none;
    color: black;
}

.non-auth a {
    text-decoration: none;
    color: black;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

#signup-page a {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    padding: 10px;
    text-decoration: none; 
    border-bottom: none;
}

.link-welcome {
    margin-top: 2vh;
}
.nav-link {
    color: black;
    text-decoration-style: none;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {  
    .nav {
          width: 94.7vw;
      }
  }