@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Shrikhand&display=swap');

.listing {
    display: flex;
    height: inherit;
    width: 100%;
    flex-direction: column;
    font-family: 'Shrikhand', cursive;
    background: linear-gradient(180deg, #4A5597 0%, #6348A7 5%, #C115E3 20%, #E900FD 40%, #9e3ba7 75%, #C115E3 80%, #6348A7 95%, #4A5597 100%);
}

.button-select {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.btn-option {

}

#btn {
    background-color: #E989BB;
    font-family: 'Shrikhand', cursive;
    font-size: small;
    border-radius: 20px;
    color: black;
    margin-left: 1vh;
    margin-right: 1vh;
}

.result-box {
    /* border: black 2px solid;
    border-bottom: none;
    border-radius: 30px; */
    /* background: linear-gradient(blueviolet 0%, #E989BB 100%); */
    background: #E989BB;
    padding: 30px;
    margin: 30px;
}

.post-description {
    background: linear-gradient(#E989BB 0%, lightgray 100%);
}

.post-description {
    overflow: scroll;
}

.post-img img{
    height: 70px;
    width: 70px;
    border-radius: 250px;
    size: 30px;
}

.post-img {
    display: flex;

    background-color: none;
}

.post-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-username {
    display: flex;
    margin-left: 4vw;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7vh;
    left: 0;
    bottom: 0;
}

#last-item {
    margin-bottom: 10vh;
}

.chat-room {
    background: #E989BB;
}

.chat-title {
    border-bottom: solid 2px black;
    margin-left: 10vw;
    margin-right: 10vw;
}

#channel-name {
    font-size: x-large;
}

#channel-btn {
    background-color: rgb(45, 217, 255);
    border-radius: 15px;
    padding: 15px;
    color:black;
}

.result-groups {
    margin-left: 3vw;
    margin-right: 3vw;
}

 

@media only screen 
and (min-width : 1224px) {
    .listing {
        display: flex;
        flex-direction: row;
    }

    .main-container{

    }
    .chat-room {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        margin-right: 5vw;
        width: 50vw;
        height: 80vh;
        background: linear-gradient(#525099 0%, #c32fd0cd 100%);
    }
    .result-box {
        padding: 20px;
        margin-left: 5vw;
        height: 25vh;
        width: 75%;
    }

    .chat-title {
        display: flex;
        margin-left: 10vw;
        justify-content: center;
    }
    .channel-optn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        border-bottom: 1px solid black;
        font-size: x-small;
    }

    #channel-name {
        margin-left: 2vw;
    }

    #channel-btn {
        font-family: 'Shrikhand', cursive;
        color: black;
        background-color: #E989BB;
        border-radius: 50px;
        border: none;
        padding: 10px;
        margin-right: 2vw;
        font-size: small;
    }
    
    #btn {
        padding: 10px;
    }
    
    .footer {
        display: none;
    }
    
    .result-groups {
        margin-top: 10vh;
    }
    
    .button-select {
        margin-top: 15vh;
    }
}